name: action-airtable-worklog
on:
  push:
  issues:
    types: [opened]
  issue_comment:
    types: [created]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Submit work log (push/issues)
        uses: opentutorials-org/action-airtable-worklog@master
        with:
          AIRTABLE_SECRET: ${{ secrets.AIRTABLE_SECRET }}
          AIRTABLE_BASE: ${{ secrets.AIRTABLE_BASE }}
          TYPE: ${{ github.event_name }}
